body {
	background-color: #f2f2f2;
	font-family: sans-serif;
}

a {	
	color: inherit;
}

a.bottone {
	-webkit-appearance: button;
    -moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
}

#header {
	background-color: white;
	display: block;
	text-align: center;
	width: auto;
	height: auto;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

#menu {
	background-color: #ffe6cc;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	clear: left;
}

.contenitoreblocchi {
	text-align: center;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
	
}

.contenitoreinternoblocchi {
	display: inline-block;
}


.bloccomenu {
	display: inline-block;
	border-radius: 10px;
	padding: 10px;
	float: left;
	width: 230px;
/* 	height: 100px; */
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: yellow;
	color: white;
	font-weight: bolder;
	text-align: center;	
}

.centriamolo {
	text-align: center;
	display: inline-block;
 	width: 100%;
}

.bloccomenu .main
{
	font-size: 2em;
}

.bloccomenu .normal
{
	font-size: 1.2em;
}

#bloccouno {
	background-color: #4285f4;	
}

#bloccodue {
	background-color: #fbbc06;
}

#bloccotre {
	background-color: #36a955;
}

#bloccoquattro {
	background-color: #ea4335;
}

#content {
	clear: left;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}


table.lista {
	border-collapse: collapse;
	width: 100%;
}

table.lista td {
	padding: 15px;
	padding-right: 10px;
}

table.lista th {
	padding: 15px;
	background-color: #6ea3f7; 
}

table.lista tr:nth-child(odd) {
	background: #fef2cd;
}

table.lista tr:nth-child(even) {
	background: white;
}

/*
 * Contenitore contenitore
 */
#contenitore_prodotti {
	background-color: yellow;
}

div#contenitore_prodotti div:nth-child(odd) {
	background: #fef2cd;
}

div#contenitore_prodotti div:nth-child(even) {
	background: white;
}

.ui-autocomplete {
	width: 500px;
}
