{% extends 'gestione/base.html' %}


{% block body_block %}

<div>
	<input type="button" onclick="location.href='{% url 'gestione:creaanagrafica' %}';" value="Crea nuova anagrafica" />
</div>
<br>
{% if anagrafiche %}
    <table class="lista">
    <tr>
    	<th>Nome</th>
    	<th>Tipo</th>
    	<th>Telefono</th>
    	<th>Cellulare</th>    	
    	<th>Mail</th>
    	<th>Fax</th>
    	<th>P.IVA</th>
    	<th>Indirizzo</th>
    	<th>Citt&agrave;</th>    	
    	<th>Provincia</th>
    	<th>CAP</th>    	
    </tr>
    {% for a in anagrafiche %}
        <tr>
        	<td><a href='{% url 'gestione:anagrafica' a.id %}' title = "Modifica anagrafica">{{ a.nome }}</href></td>
        	<td>{{ a.tipo }}</td>
        	<td>{{ a.telefono }}</td>
        	<td>{{ a.cellulare }}</td>
        	<td><a href="mailto:{{ a.mail }}">{{ a.mail }}</a></td>
        	<td>{{ a.fax }}</td>
        	<td>{{ a.piva }}</td>
        	<td>{{ a.indirizzo }}</td>
        	<td>{{ a.citta }}</td>
        	<td>{{ a.provincia }}</td>
        	<td>{{ a.cap }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Nessuna Anagrafica.</p>
{% endif %}

{% endblock %}