<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <title>Gestione Magazzino</title>        
        <link rel="stylesheet" type="text/css" href="{% static 'gestione/jquery-ui/jquery-ui.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'gestione/style.css' %}" />
        <script src="{% static 'gestione/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'gestione/jquery-ui/jquery-ui.min.js' %}"></script>
    </head>

    <body>
    	<div id="header">
    		<div class="centriamolo">
	    	<img src="{% static 'gestione/logobroogle.png' %}">
	    	<h1>Gestione magazzino</h1>
	    	</div>
    	</div>
    	<div class="contenitoreblocchi">
    		<div class="contenitoreinternoblocchi">
		    	<div class="bloccomenu" id="bloccouno">
		    		<a class="main" href='{% url 'gestione:magazzino' %}'>Magazzino</a>
		    	</div>
		    	<div class="bloccomenu" id="bloccodue">
		    		<a class="main" href='{% url 'gestione:anagrafiche' %}'>Anagrafiche</a>
		    	</div>
		    	<div class="bloccomenu" id="bloccotre">
		    		<a class="main" href='{% url 'gestione:creacaricodyn' %}'>Crea carico</a>
		    	</div>
		    	<div class="bloccomenu" id="bloccoquattro">
		    		<a class="main" href='{% url 'gestione:creascaricodyn' %}'>Crea Scarico</a>
		    	</div>
    		</div>
    		<div class="contenitoreinternoblocchi">
		    	<div class="bloccomenu" id="bloccouno">
		    		<a class="normal" href='{% url 'gestione:categorie' %}'>Categorie</a>	    		
		    	</div>
		    	<div class="bloccomenu" id="bloccodue">
		    		<a class="normal" href='{% url 'gestione:tipoanagrafiche' %}'>Tipo anagrafiche</a>
		    	</div>
		    	<div class="bloccomenu" id="bloccotre">
		    		<a class="normal" href='{% url 'gestione:carichi' %}'>Storico</a>
		    	</div>
		    	<div class="bloccomenu" id="bloccoquattro">
		    		<a class="normal" href='{% url 'gestione:scarichi' %}'>Storico</a>
		    	</div>
    		</div>
    	</div>
    	<div class="contenitoreblocchi">
    		
    	</div>
    	<div id="menu">
    		<a href='{% url 'gestione:magazzino' %}'>MAGAZZINO</a>
    		-
    		<a href='{% url 'gestione:categorie' %}'>CATEGORIE</a>
    		-
    		<a href='{% url 'gestione:tipoanagrafiche' %}'>TIPO ANAGRAFICA</a>
    		-
    		<a href='{% url 'gestione:anagrafiche' %}'>ANAGRAFICA</a>
    		-
    		<a href='{% url 'gestione:ricarichi' %}'>RICARICHI</a>
    		-
    		<a href='{% url 'gestione:listaiva' %}'>IVA</a>
    		-
    		<a href='{% url 'gestione:carichi' %}'>CARICHI</a>
    		-
    		<a href='{% url 'gestione:vocicarico' %}'>VOCI DI CARICO</a>
    		-
    		<a href='{% url 'gestione:scarichi' %}'>SCARICHI</a>
    		-
    		<a href='{% url 'gestione:vociscarico' %}'>VOCI DI SCARICO</a>
    		-
    		<a href='{% url 'gestione:listafornitori' %}'>LISTA FORNITORI</a>
    		-
    	</div>
    	<div id="messaggi">
    		{% if messages %}
    		<ul>
    			{% for message in messages %}
    			<li>{{ message }}</li>    		
    			{% endfor %}
    		</ul>
    		
    		{% endif %}
    	</div>
    	
    	<div id="content">
        {% block body_block %}
        
        {% endblock %}
        
        </div>
    </body>
</html>