{% extends 'gestione/base.html' %}


{% block body_block %}

<div class="contenitoreform">
	<form id="creazionecarico" action="{% url 'gestione:caricaprodotti' %}" method="post">
		{% csrf_token %}
		<p>
			<label for="id_data">Data:</label>
			<input id="id_data" name="data" type="text" required />
		</p>
		<p>
			<label for="id_fornitore">Fornitore:</label>
			<input id="id_fornitore" name="fornitore" type="text" required "/>		
		</p>
		
	<br>
	<div id="contenitore_prodotti">
	    <table class="lista" id="tabella_prodotti">
	        <tr>
	            <th>Codice</th>
	            <th>Descrizione</th>
	            <th>Quantit&agrave;</th>
	            <th>Prezzo unitario</th>
	            <th>Totale</th>
	            <th>Cancella</th>
	        </tr>
	    </table>
	</div>
	
	<button id="aggiungi_prodotto">Aggiungi Prodotto</button>
	<br>
	<button id="crea_carico">Crea Carico</button>
	<input type="submit" value="Crea Carico" id="submitgenerale"></input>	
	</form>
</div>

<div id="msg_dialog"><div id="contentHolder"></div></div>

<script>

$("#submitgenerale").hide();

function bindAutocompleteSelect(id, funzione) {
	$("#" + id).on("autocompleteselect", funzione)
}

// Autocomplete del fornitore
$("#id_fornitore").autocomplete({
	source: function(request, response) {
// 		console.log("Ricerca: " + request.term);
		data ={};
		data['Fornitore'] = request.term;
		$.ajax({
			dataType: "json",
			type: 'Get',
			url: '{% url 'gestione:listafornitori' %}',
			data: data,
			success: function(data) {
                                response($.map(data, function(item){
                            		return {
                            			value: item.nome
                            	}}));
			}
		})
	},
	change: function(event, ui) {
		if (!ui.item) {
			$("#id_fornitore").val("");
		}
	}
});

	
$('.ui-autocomplete-input').css('width','300px')


var prodottoHelper = {}
var codiceHelper = {}


$("#id_data").datepicker({ dateFormat: "dd/mm/yy"}).datepicker("setDate", new Date());


var idElemento = 0;

function creaInput(padre, id, classe, r) {
	stringa = '<td><input id="' + id + '" name="' + id + '" type="text" class="' + classe + '"';
	if (r == true) {
		stringa += " required";
	}
	stringa += ' /></td>';
	padre.append(stringa);
}

$("#aggiungi_prodotto").click(function() {
	var oggetto = $('<tr/>');
	
	var questoIdElemento = idElemento;
	
	var elementoCodice = "id_codice" + questoIdElemento;
	var elementoProdotto = "id_prodotto" + questoIdElemento;
	var elementoQuantita = "id_quantita" + questoIdElemento;
	var elementoPrezzoUnitario = "id_prezzo" + questoIdElemento;
	var elementoPrezzoTotale = "id_totale" + questoIdElemento;
	
	oggetto.addClass('prodottodinamico');
	oggetto.attr('id', 'riga' + questoIdElemento);

	creaInput(oggetto, elementoCodice, 'inputCodice', true);
	creaInput(oggetto, elementoProdotto, 'inputProdotto', false);	
	creaInput(oggetto, elementoQuantita, 'inputQuantita', true);
	creaInput(oggetto, elementoPrezzoUnitario, 'inputPrezzo', true);
	
	var stringa = '<td>';
	stringa = stringa + '<a data-id="' + questoIdElemento + '" class="bottonecalcola" href="#">Calcola</a>';
	stringa = stringa + '<input id="' + elementoPrezzoTotale + '" name="' + elementoPrezzoTotale + '" type="text" class="inputTotale" width="5"/>';
	stringa = stringa + '</td>';
	
	oggetto.append(stringa);
// 	creaInput(oggetto, elementoPrezzoTotale);
	
	oggetto.append('<td><a class="cancellaprodotto" href="#">Cancella</a></td>');

	$("#tabella_prodotti").append(oggetto);
	
	// Ricerca per codice	
	$("#" + elementoCodice).autocomplete({
		source: function(request, response) {			
			
			$.ajax({
				dataType: "json",
				type: 'Get',
				url: '{% url 'gestione:listaprodotticodice' %}',
				data: {
                                    'Codice': request.term
				},
				success: function(data) {
                                    response($.map(data, function(item) {                                        
                                        return {
                                            label: item.codice,
                                            id: item.id,
                                            descrizione: item.descrizione,
                                            elemento: questoIdElemento
                                        }
                                    }));
				}
			})
		}		
	});
	
	$("#" + elementoCodice).on("autocompleteselect", function(event, ui) {
            $("#" + elementoProdotto).val(ui.item.descrizione);
	});
	
	
	// Ricerca per descrizione	
	$("#" + elementoProdotto).autocomplete({
		source: function(request, response) {			
			
			$.ajax({
				dataType: "json",
				type: 'Get',
				url: '{% url 'gestione:listaprodottidescrizione' %}',
				data: {
                                    'Descrizione': request.term
				},
				success: function(data) {
                                    response($.map(data, function(item) {                                        
                                        return {
                                            label: item.descrizione,
                                            id: item.id,
                                            codice: item.codice,
                                            elemento: questoIdElemento
                                        }
                                    }));
				}
			})
		}
	});
	
	$("#" + elementoProdotto).on("autocompleteselect", function(event, ui) {
            $("#" + elementoCodice).val(ui.item.codice);
	});
	
	idElemento ++;
});


$('#tabella_prodotti').on('click', 'a.cancellaprodotto', function(events) {
    events.preventDefault();
    $(this).parent().parent().remove();    
});


$('#tabella_prodotti').on('click', 'a.bottonecalcola', function(events) {
    events.preventDefault();
    var id = $(this).data('id');
    console.log("Premuto bottone: " + id);
    
    var quantita = parseFloat($("#id_quantita" + id).val());
    if (isNaN(quantita)) return;    
    
    var prezzo = parseFloat($("#id_prezzo" + id).val());
    if (isNaN(prezzo)) return;
    
    $("#id_totale" + id).val(prezzo * quantita);
    
});


function creaListaProdotti() {
	var validandi = [];
	
	$(".prodottodinamico").each(function(index, Element) {
		var codice = $(this).find(".inputCodice").val();
		var desc = $(this).find(".inputProdotto").val();
		var quantita = $(this).find(".inputQuantita").val();
		var prezzo = $(this).find(".inputPrezzo").val();
		
		validandi.push({ "codice" : codice, "desc": desc, "quantita": quantita, "prezzo": prezzo});
	});
	
	return validandi;
}

function caricaProdottiDef() {
	
	console.log("caricaProdottiDef");
	
	$("#creazionecarico").submit();
	
// 	var validandi = creaListaProdotti();	
		
	/* $.ajax({
		dataType: "json",
		type: 'POST',
		url: '{% url 'gestione:caricaprodotti' %}',
		data: {
			"csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val(),	
			"lista": JSON.stringify(validandi),
			"fornitore": $("input[name='fornitore']").val(),
			"data": $("input[name='data']").val()
		},
		success: function(response) {
			// TODO			
		}
	}); */
	
}


// Submit del form principale
/* $("#creazionecarico").submit(function(event) {
	event.preventDefault();
	console.log("Crezione Carico!!");
}); */

$("#crea_carico").click(function() {
	
	var prodotti = $(".prodottodinamico").length;
	if (prodotti == 0) {
		$("#contentHolder").html("Nessun prodotto selezionato");
		var dialog = $('#msg_dialog').dialog();
		dialog.dialog({
			modal: true,
			autoOpen: true,
			title: "Nessun prodotto",
			buttons: [
				{
					text: 'Ok',
					click: function() {
						$('#msg_dialog').dialog('close');
					}
				}
			]
		});
		return;	
	}
	
	var validandi = creaListaProdotti();
	
	$.ajax({
		dataType: "json",
		type: 'POST',
		url: '{% url 'gestione:validalistaprodotti' %}',
		data: {
			"csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val(),	
			"lista": JSON.stringify(validandi),
		},
		success: function(response) {
			if (response.length > 0) {
				var trHTML = "<h3>I seguenti prodotti non esistono.</h3>";
				trHTML += "<table><tr><th>Codice</th><th>Descrizione</th></tr>"
				$.each(response, function(i, e) {
					trHTML += "<tr><td>" + e.codice + "</td><td>" + e.desc + "</td></tr>";
				});
				trHTML += "</table>";
				
				$("#contentHolder").html(trHTML);
				
				var dialog = $('#msg_dialog').dialog();
				dialog.dialog({
					modal: true,
					autoOpen: true,
					title: "Verifica prodotti",
					buttons: [
						{
							text: 'Ok',
							click: function() {
								$('#msg_dialog').dialog('close');
								
							}
						}
					]
				});
				
			} else {
				caricaProdottiDef();
			}
			
		}
	})
	
	
});

</script>

{% endblock %}
