{% extends 'gestione/base.html' %}


{% block body_block %}

<a href='{% url 'gestione:creacarico' %}'>Crea nuovo Carico</a>

{% if carichi %}
    <ul>
    {% for c in carichi %}
        <li>
        <a href='{% url 'gestione:dettagliocarico' c.id %}'>{{ c }}</href>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nessun Carico.</p>
{% endif %}

{% endblock %}