{% extends 'gestione/base.html' %}


{% block body_block %}

<a href='{% url 'gestione:creacategoria' %}'>Crea nuova categoria</a>

{% if categorie %}
    <ul>
    {% for c in categorie %}
        <li>
        <a href='{% url 'gestione:categoria' c.id %}'>{{ c }}</href>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nessuna categoria.</p>
{% endif %}

{% endblock %}