{% extends 'gestione/base.html' %}


{% block body_block %}

<a href='{% url 'gestione:creaiva' %}'>Crea nuova IVA</a>

{% if iva %}
    <ul>
    {% for i in iva %}
        <li>
        <a href='{% url 'gestione:iva' i.id %}'>{{ i }}</href>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nessuna IVA.</p>
{% endif %}

{% endblock %}