{% extends 'gestione/base.html' %}


{% block body_block %}

<div>
	<input type="button" onclick="location.href='{% url 'gestione:creaprodotto' %}';" value="Crea nuovo prodotto" />
</div>
<br>
{% if prodotti %}
    <table class='lista'>
    <tr>
    	<th>Codice</th>
    	<th>Descrizione</th>
    	<th>Categoria</th>
    	<th>Udm</th>
    	<th>Qt&agrave;</th>
    	<th>Prezzo</th>
    </tr>
    {% for p in prodotti %}
        <tr>
        	<td><a href='{% url 'gestione:prodotto' p.id %}' title='Modifica questo prodotto'>{{ p.codice }}</href></td>
			<td>{{ p.descrizione }}</td>
			<td>{{ p.categoria }}</td>
			<td>{{ p.unitaMisura }}</td>
			<td>{{ p.disponibilita }}</td>
			<td>{{ p.prezzo }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Nessun prodotto.</p>
{% endif %}

{% endblock %}