{% extends 'gestione/base.html' %}


{% block body_block %}

<a href='{% url 'gestione:crearicarico' %}'>Crea nuovo Ricarico</a>

{% if ricarichi %}
    <ul>
    {% for r in ricarichi %}
        <li>
        <a href='{% url 'gestione:ricarico' r.id %}'>{{ r }}</href>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nessun ricarico.</p>
{% endif %}

{% endblock %}