{% extends 'gestione/base.html' %}


{% block body_block %}

<a href='{% url 'gestione:creascarico' %}'>Crea nuovo Scarico</a>

{% if scarichi %}
    <ul>
    {% for s in scarichi %}
        <li>
        <a href='{% url 'gestione:dettaglioscarico' s.id %}'>{{ s }}</href>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nessuno Scarico.</p>
{% endif %}

{% endblock %}