{% extends 'gestione/base.html' %}
{% block body_block %}

<h1>Dettagli scarico</h1>
<h2>Data: {{ Nome.data }}</h2>
<h2>Cliente: <a href="{% url 'gestione:anagrafica' Nome.cliente.id %}">{{ Nome.cliente }}</a></h2>

<div>
	<input type="button" onclick="location.href='{% url 'gestione:scarico' Nome.id %}';" value="Modifica questo scarico" />
</div>

<br>
{% if Voci %}
<table class="lista">
	<tr>
		<th>Prodotto</th>
		<th>Unit&agrave; di misura</th>
		<th>Quantita</th>
		<th>Prezzo di vendita</th>
	</tr>
	{% for v in Voci %}
	<tr>
		<td><a title="Dettagli prodotto"
			href="{% url 'gestione:prodotto' v.prodotto.id %}">{{ v.prodotto }}</a></td>
		<td>{{ v.unitaMisura }}</td>
		<td>{{ v.quantita }}</td>
		<td>{{ v.prezzo }}</td>
	</tr>	
	{% endfor %}
</table>
{% else %}
<p>Nessuna Voce.</p>
{% endif %}

{% endblock %}