{% extends 'gestione/base.html' %}


{% block body_block %}

<a href='{% url 'gestione:creatipoanagrafica' %}'>Crea nuovo Tipo Anagrafica</a>

{% if tipoanagrafiche %}
    <ul>
    {% for t in tipoanagrafiche %}
        <li>
        <a href='{% url 'gestione:tipoanagrafica' t.id %}'>{{ t }}</href>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nessun Tipo Anagrafica.</p>
{% endif %}

{% endblock %}