{% extends 'gestione/base.html' %}


{% block body_block %}
<form action="" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Modifica Tipo Anagrafica"></input>
</form>

{% endblock %}