{% extends 'gestione/base.html' %}


{% block body_block %}

<a href='{% url 'gestione:creavocescarico' %}'>Crea nuova Voce di Scarico</a>

{% if vociscarico %}
    <ul>
    {% for v in vociscarico %}
        <li>
        <a href='{% url 'gestione:vocescarico' v.id %}'>{{ v }}</href>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nessuna Voce di Scarico.</p>
{% endif %}

{% endblock %}