{% extends 'gestione/base.html' %}


{% block body_block %}

<a href='{% url 'gestione:creavocecarico' %}'>Crea nuova Voce di Carico</a>

{% if vocicarico %}
    <ul>
    {% for v in vocicarico %}
        <li>
        <a href='{% url 'gestione:vocecarico' v.id %}'>{{ v }}</href>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nessuna Voce di Carico.</p>
{% endif %}

{% endblock %}